[Unit]
Description=Run Daily Service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=dingwenli
ExecStart=sh daily_check.sh
Restart=always
RestartSec=1