[Unit]
Description=Test Python Service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=dingwen
ExecStart=sh execution.sh
Restart=always
RestartSec=1
